@font-face {
  font-family: Bebas-Neue;
  src: url(../fonts/BebasNeue-Regular.otf);
}
.hero-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  font-family: "Bebas-Neue";
  color: var(--dirty-white);
  width: 100%;
  height: 100vh;
}
.headers {
  line-height: 0.9;
  font-size: 6rem;
}
.call-modal {
  position: absolute;
  bottom: 10%;
  right: 7%;
  color: var(--dirtier-white);
  cursor: pointer;
}
.heading-two{
  overflow: hidden;
}