/* if you're making a desktop-first then use max-width, start max size at the top */
@media (max-height: 810px) {
  .mark-two {
    display: none;
  }
}
@media (max-width: 1440px) {
  .headers {
    font-size: 5rem;
  }
  .resume-image {
    height: 500px;
    width: auto;
  }
  .text-paragraph {
    font-size: 1.3rem;
  }
  .coffee-inspirations {
    margin-top: 10%;
  }
  .inspo-thumbnails {
    height: 90px;
  }
  .kiss-mark {
    position: absolute;
    width: 100px;
  }
  .mark-one {
    top: 50%;
    left: 62%;
  }
  .mark-two {
    display: none;
    bottom: auto;
  }
}
@media (max-width: 1280px) {
  .headers {
    font-size: 5rem;
  }
  .resume-image {
    height: 500px;
    width: auto;
  }
  .text-paragraph {
    font-size: 1.3rem;
  }
  .coffee-inspirations {
    margin-top: 5%;
  }
  .inspo-thumbnails {
    height: 70px;
  }
  .kiss-mark {
    position: absolute;
    width: 100px;
  }
  .mark-one {
    top: 50%;
    left: 80%;
  }
  .mark-two {
    display: none;
    bottom: auto;
  }
  .shape-modal {
    width: fit-content;
  }
  .modal-icons {
    font-size: 2rem;
  }
  .verify-me {
    font-size: 1.2rem;
  }
}
@media (max-width: 1024px) {
  .headers {
    font-size: 5rem;
  }
  .resume-image {
    height: 450px;
    width: auto;
  }
  .text-paragraph {
    font-size: 1.2rem;
  }
  .coffee-inspirations {
    margin-top: 5%;
  }
  .inspo-thumbnails {
    height: 60px;
  }
  .kiss-mark {
    position: absolute;
    width: 80px;
  }
  .mark-one {
    top: 55%;
    left: 90%;
  }
  .mark-two {
    display: none;
    bottom: auto;
  }
  .qr-modal {
    bottom: 5%;
  }
  .shape-modal {
    width: fit-content;
  }
  .modal-icons {
    font-size: 2rem;
  }
  .verify-me {
    font-size: 1.2rem;
  }
}
@media (max-width: 900px) {
  .headers {
    font-size: 5rem;
  }
  .resume-image {
    height: 400px;
    width: auto;
  }
  .text-paragraph {
    font-size: 1.04rem;
  }
  .coffee-inspirations {
    margin-top: 5%;
  }
  .inspirations-wrapper {
    gap: 1rem;
  }
  .inspo-thumbnails {
    height: 50px;
  }
  .kiss-mark {
    position: absolute;
    width: 80px;
  }
  .mark-one {
    top: 55%;
    left: 90%;
  }
  .mark-two {
    display: none;
    bottom: auto;
  }
  .qr-modal {
    bottom: 5%;
  }
  .shape-modal {
    width: fit-content;
  }
  .modal-icons {
    font-size: 2rem;
  }
  .verify-me {
    font-size: 1.2rem;
  }
}
@media (max-width: 790px) {
  .headers {
    font-size: 4rem;
  }
  .about-section {
    align-items: start;
    margin-top: 40px;
  }
  .resume-image {
    height: 350px;
    width: auto;
  }
  .text-paragraph {
    font-size: 1rem;
  }
  .coffee-inspirations {
    margin-top: 5%;
  }
  .inspo-thumbnails {
    height: 50px;
  }
  .kiss-mark {
    position: absolute;
    width: 80px;
  }
  .mark-one {
    top: 20%;
    left: 90%;
  }
  .mark-two {
    display: none;
    bottom: auto;
  }
  .qr-modal {
    bottom: 5%;
  }
  .shape-modal {
    width: fit-content;
  }
  .modal-icons {
    font-size: 2rem;
  }
  .verify-me {
    font-size: 1.2rem;
  }
}
@media (max-width: 670px) {
  .headers {
    font-size: 4rem;
  }
  .resume-image {
    height: 300px;
    width: auto;
  }
  .text-paragraph {
    font-size: 0.8rem;
  }
  .coffee-inspirations {
    margin-top: 5%;
  }
  .inspo-thumbnails {
    height: 50px;
  }
  .kiss-mark {
    position: absolute;
    width: 60px;
  }
  .mark-one {
    top: 15%;
    left: 90%;
  }
  .mark-two {
    display: none;
    bottom: auto;
  }
  .qr-modal {
    bottom: 5%;
    right: 0%;
  }
  .shape-modal {
    width: fit-content;
    border-radius: 5px;
  }
  .modal-icons {
    font-size: 1.5rem;
  }
  .verify-me {
    font-size: 1.1rem;
  }
  .footer-section {
    flex-direction: column;
  }
}
@media (max-width: 620px) {
  .headers {
    font-size: 3rem;
  }
  .resume-image {
    height: 300px;
    width: auto;
  }
  .text-paragraph {
    font-size: 0.8rem;
  }
  .coffee-inspirations {
    margin-top: 1%;
  }
  .inspo-thumbnails {
    height: 50px;
  }
  .kiss-mark {
    position: absolute;
    width: 60px;
  }
  .mark-one {
    top: 48%;
    left: 90%;
  }
  .mark-two {
    display: none;
    bottom: auto;
  }
  .qr-modal {
    bottom: 2%;
    right: 0%;
  }
  .shape-modal {
    width: fit-content;
    border-radius: 5px;
  }
  .modal-icons {
    font-size: 1.5rem;
  }
  .verify-me {
    font-size: 1.1rem;
  }
  .footer-section {
    flex-direction: column;
  }
  .center-container {
    flex-direction: column;
  }
}
@media (max-width: 440px) {
  .headers {
    font-size: 2.5rem;
  }
  .resume-image {
    height: 250px;
    width: auto;
  }
  .text-paragraph {
    font-size: 0.7rem;
  }
  .about-section {
    height: 80vh;
  }
}
@media (max-width: 410px) {
  .coffee-inspirations {
    margin-top: 1%;
  }
  .inspo-thumbnails {
    height: 40px;
  }
  .kiss-mark {
    position: absolute;
    width: 60px;
  }
  .mark-one {
    top: 48%;
    left: 90%;
  }
  .mark-two {
    display: none;
    bottom: auto;
  }
  .qr-modal {
    bottom: 2%;
    right: 0%;
  }
  .shape-modal {
    width: fit-content;
    border-radius: 5px;
  }
  .modal-icons {
    font-size: 1.5rem;
  }
  .verify-me {
    font-size: 1.1rem;
  }
  .footer-section {
    flex-direction: column;
  }
  .center-container {
    flex-direction: column;
  }
  .current-clock,
  .email-address,
  .email-icon {
    font-size: 1rem;
  }
  .email-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 345px) {
  .resume-image {
    height: 220px;
    width: auto;
  }
  .text-paragraph {
    font-size: 0.7rem;
  }
  .current-clock {
    display: none;
  }
  .inspirations-wrapper{
    flex-wrap: wrap;
  }
  .about-section{
    margin: 10px 50px 10px;
  }
  .center-container{
    width: 100%;
  }
}
/* if you're making mobile-first then use min-width, start max size at the bottom */
